@font-face {
	font-family: "Bilbo";
	src: url("./fonts/Bilbo-Regular.ttf");
}
* {
	padding: 0;
	margin: 0;
	font-family: Bilbo;
	font-size: 30px;
	background-image: url("./images/paperboard-yellow-texture.jpg");
	color: rgb(115, 78, 78);
}
h1 {
	font-size: 50px;
	text-align: center;
}
.container {
	display: flex;
	justify-content: center;
	padding: 2vw;
}
#englishText {
	margin: 0 2vw 0 2vw;
}
#morseText {
	@extend #englishText;
}
.btn__translateEng {
	padding: 0vh 1vw 1vh 1vw;
	margin: 0vh 1vw 1vh 1vw;
	border-radius: 5%;
	box-shadow: 4px 4px gray;
	cursor: pointer;
}
.btn__translateMor {
	@extend .btn__translateEng;
}
